name: Deploy Zudoku Server

on:
  push:
    branches:
      - main  # Запускать деплой при пуше в main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies and build Zudoku
        run: |
          cd docs/zudoku-app
          npm install
          npm run build

      - name: Fix CSS paths in all HTML files
        run: |
          find docs/zudoku-app/dist -type f -name "*.html" -exec sed -i 's|href="/assets/|href="../assets/|g' {} +

      - name: Upload build artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: docs/zudoku-app/dist  # Укажите путь к собранным файлам
          retention-days: 1  # Сохранение артефакта на 1 день (по умолчанию 90)

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
